/* nav section starts  */
.navi .cont ul{
    margin: 0 auto; 
}

.navi .cont ul li{
    padding-right: 3rem;
    color: #506690;
    font-size: 800;
}

.navi .cont .buy{
    background-color: #335eea;
    color: #fff;
    border-radius: .5rem;
    border-style: none;
}
/* nav section ends  */

/* hero section starts  */

.hero{
    margin-top: 8rem;
}

.wlc{
    /* text-align: center; */
    padding-top: 4rem;
}

.wlc h1{
    font-size: 3rem;
}

.wlc .desc{
    color: #9fb0c7;
}

.wlc .title span{
    color: #335eea;
}

.btn{
    /* padding: 4rem; */
    /* border-color: none; */
    margin-top: 2rem;
}

.btn .btn1, .btn2{
    padding: .9rem;
    font-size: 1rem;
    border-color: none;
    border-radius: .5rem;
}

.btn .btn1{
    background-color: #335eea;
    color: #fff;
}

.btn .btn2{
    background-color: #eaeffd;
    color: #335eea;
}

.hero .descri{
    margin: 6rem 0;
}

.hero .descri .descri2 .icony{
    font-size: 3rem;
    color: #335eea;
    /* margin-bottom: 1.5rem; */
}

.hero .descri .descri2 .dev{
    font-size: 1.2rem;
    margin: .8rem 0;
}

.hero .descri .descri2 .dev2{
    color: #8e9abc;
    font-size: 1.1rem;
}

@media (max-width: 768px){
    .hero{
        margin-top: .5rem;
    }

    .wlc h1{
        font-size: 2rem;
    }
}

/* hero section ends  */

/* socials section begins  */
.socials{
    text-align: center;
    padding: 2rem;
    box-shadow: 0 0 .15rem #8e9abc;
}

.socials .social img{
    width: 6rem;
    height: 6rem;
} 
/* socials section ends  */