/* nav section starts  */
.navi {
    margin: 2rem 0 5rem 0;
}


.navi .cont ul{
    margin: 0 auto; 
}

.navi .cont ul li{
    padding-right: 3rem;
   
    font-size: 1.2rem;
    font-weight: bold;
}

.navi .cont ul li a{
    color: #506690;
}

.navi .cont ul li a:hover{
   color: blue;
}

@media screen and (max-width: 576px){
    .navi {
        margin: 1rem 0;
    }
}
/* nav section ends  */

/* hero section starts  */
/* .hero .main{
    position: absolute;
} */

.hero .main .title{
    font-size: 2.5rem;
    font-weight: lighter;
}

.hero .main .title span{
    color: #335eea;
}

.hero .main .desc{
    /* color: #9fb0c7; */
    color: #969ab8;
    font-weight: 350;
    margin: 1rem 0 4rem 0;
}

.hero .ctas a{
    padding: 1rem;
    font-weight: 500;
}

.hero .ctas a:nth-child(2){
    background-color: #eaeffd;
    color: #335eed;
}

.hero .ctas a:hover{
    cursor: pointer;
}

.hero .ctas a .icon{
    padding-left: 1rem;
}

 /* .hero .image {
    position: absolute;
}  */

.hero .descri{
    margin: 6rem 0;
}

.hero .descri .descri2 .icony{
    display: block;
    font-size: 3rem;
    color: #335eea;
    /* margin-bottom: 1.5rem; */
}

.hero .descri .descri2 h3{
    font-size: 1.4rem;
    margin: .8rem 0;
    font-weight: 400;
}

.hero .descri .descri2 p{
    color: #8e9abc;
    font-size: 1.1rem;
}


@media screen and (max-width: 576px) {
    .hero .main{
        margin-bottom: 2rem;
    }

    .hero .main .desc{
        margin: 1rem 0 2rem 0;
    }

    .hero .ctas{
        margin-bottom: 1rem;
    }

    .hero .descri{
        margin: 2rem 0;
    }
}

/* @media (max-width: 768px){
    .hero{
        margin-top: .5rem;
    }

    .wlc h1{
        font-size: 2rem;
    }
} */

/* hero section ends  */

/* logos section begins  */
.logos{
    /* text-align: center; */
    margin-bottom: 5rem;
    padding: 2rem;
    box-shadow: 0 0 .15rem #8e9abc;
}

.logos .logo img{
    display: block;
    height: 6rem;
    margin: 0 auto;
} 

@media screen and (max-width: 576px) {
    .logos{
        margin-bottom: 3rem; 
    }
}

/* logos section ends  */

/* forms section begins  */

.forms .cardi form{
    padding-top: .1rem;
}

.forms .cardi form input{
    border: none;
    border-bottom: .01rem solid #969ab8;
}

.forms .sample{
    background-color: #42ba96;
    color: white;
    margin-top: 1rem;
    padding: .75rem 0;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
}

.forms .sample:hover{
    cursor: pointer;
    box-shadow: 0 0 .15rem #42ba96;
    transform: translate(3);
}

.forms .content h2{
    font-weight: lighter;
}

.forms .content h2.content-desc{
    color: #42c0c2;
    margin-bottom: 1.5rem;
}

.forms .content h5.content-descy{
    color: #86a6d0;
    font-weight: 400;
    font-size: 1.4rem;
}

.forms .check{
    margin-top: 3.5rem;
}

.forms .check div.one{
    margin-bottom: 1.5rem;
}

.forms .check h5{
    color: #42c0c2;
    font-weight: 450;
}

.forms .check h5 .iconic{
    margin-right: 1rem;
    background-color: #e9f6f3;
    border-radius: 50%;
}

@media screen and (max-width: 576px) {
    .forms{
       margin-top: 0; 
    }

    .forms .cardi {
        margin: 0 auto;
    }

    .forms .content {
        margin-top: 3rem;
    }

    .forms .check div.one{
        margin-bottom: 0;
    }

    .forms .check{
        margin-top: 2rem;
    }
    
}
/* forms section ends  */

/* footer section starts  */
.footer{
    margin: 5rem 0;
}

.footer .content h5{
    padding: .5rem 0;
    font-weight: lighter;
    color: #8e9abc;
}

.footer .content div .icon{
    display: inline-block;
    padding-right: .5rem;
}

.footer .content div .icon:hover{
    cursor: pointer;
}

.footer .icon{
    justify-content: center;
}

.footer .cont h6{
    padding-bottom: 1rem;
}

.footer .cont li{
    text-align: left;
    list-style-type: none;
    padding-bottom: 1rem;
}

.footer .cont li a{
    text-decoration: none;
    color: #8e9abc;
}

.footer .cont li a:hover{
    text-decoration: ;
}

@media screen and (max-width: 576px){
    .footer{
        margin: 2rem 0;
    }

    .footer .content{
        margin-bottom: 2rem;
        margin-left: 2rem;
    }
}
/* footer section ends  */